
{% extends "dashboard.html" %}
{% set title=" Bank " %}
{% if banks %}
	 {% set bc_text = banks.id  %}
{% else %}
	 {% set bc_text = res.string.new %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_banks','text': res.string.bank },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Bank" method="post" action="{{base_url}}index.php/manage_banks/write/{{ banks.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
				{% include 'common/_form_header.html'
				with {'back_url':'/index.php/manage_banks'~back_link,
				'title': res.string.bank,
				'delete_url':'/index.php/manage_banks/delete/' ~ banks.Id,
				'object':banks} %}
				</div>
				<div class="box-body">
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.name}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if banks %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.name }}" id="Name" value="{{ banks.Name }}"
							name="Name" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if banks %}
									<p class="control-value">{{ banks.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="CodeName">{{res.string.ref_code}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if banks %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.ref_code }}" id="CodeName" value="{{ banks.CodeName }}"
							name="CodeName" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if banks %}
									<p class="control-value">{{ banks.CodeName  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}

{% endblock %}
