
	<div class="modal fade" id="ModalAddProformaInvoiceLine" data-init="0" data-controller="manage_proformainvoicelines" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
      <form id="form_ProformaInvoiceLine" method="post" action="{{base_url}}index.php/manage_proformainvoicelines/write/"  class="form-horizontal form-label-left">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">ProformaInvoiceLine</h4>
				</div>
				<div class="modal-body">
          <div class="row ">
            <div class="col-sm-6">
              <input type="hidden" name="LineId" id="LineId">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProductPartnerId">{{res.string.product}}</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-wrap input-group">
                    <input type="hidden" type="text" id="ProductId" name="ProductId"  >
                    <input required readonly type="text" name="displayProductId" id="displayProductId"  placeholder="{{ res.string.product }}" class="form-control" />
                    <span class="input-group-btn">
                      <button class="btn btnModal btn-default" id="btnProductId"  data-target="ModalProduct" type="button">{{res.string.search}}</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LineName">{{res.string.customer_art_no}}</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-wrap">
                    <input type="text"
                    required
                    placeholder="{{ res.string.customer_art_no }}"
                    id="LineName" value="{{ proformainvoicelines.Name }}"
                    name="Name" class="form-control  col-md-7 col-xs-12">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ListPrice">{{res.string.list_price}}</label>
								<div class="col-sm-1" style="padding:0px">
									<div class="value lineCurr"></div>
								</div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="input-wrap">
                    <input required type="text"readonly placeholder="{{ res.string.list_price }}" id="ListPrice" name="ListPrice" class="form-control  col-md-7 col-xs-12">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Price">{{res.string.price}}</label>
								<div class="col-sm-1" style="padding:0px">
									<div class="value lineCurr"></div>
								</div>
                <div class="col-sm-5 col-xs-12">
                  <div class="input-wrap">
                    <input required type="text" placeholder="{{ res.string.price }}" id="Price" name="Price" class="form-control  col-md-7 col-xs-12">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CalculatedDiscount">{{res.string.calculated_discount}}</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-wrap">
                    <input type="text" placeholder="{{ res.string.calculated_discount }}" disabled value="0" id="CalculatedDiscount" name="CalculatedDiscount" class="form-control  col-md-7 col-xs-12">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CubicDimension">{{res.string.cubic_dimension}}</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-wrap">
                    <input type="text" placeholder="{{ res.string.cubic_dimension }}" id="CubicDimension" name="CubicDimension" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
              </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">{{res.string.description}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-wrap">
                      <input type="text" placeholder="{{ res.string.description }}" id="Description" name="Description" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Finishing">{{res.string.finishing}}</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="input-wrap">
                        <select  id="Finishing" name="ProductFinishing" class="form-control form-select col-md-7 col-xs-12">
                        </select>
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Qty">{{res.string.qty}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-wrap">
                      <input required type="text" placeholder="{{ res.string.qty }}" id="Qty" name="Qty" class="form-control  col-md-7 col-xs-12">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"
                  for="QtyPerPack">{{res.string.qty_per_pack}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-wrap">
                      <input type="text" placeholder="{{ res.string.qty_per_pack }}"
                      id="QtyPerPack" name="QtyPerPack" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.is_sample}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if products %}style="display:none" {% endif %} class="input-wrap">
                      <input type="checkbox" value="1" id="IsSample" value="1" {{ products.IsSample ? "checked": "" }} name="IsSample" class="form-checkbox">
                    </div>
                    {% if products %}
                    <p class="control-value">{{ products.IsSample ? res.string.yes : res.string.no }}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.with_box}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if products %}style="display:none" {% endif %} class="input-wrap">
                      <input type="checkbox" value="1" id="IsNeedBox" {{ products.IsNeedBoxIsNeedBox ? "checked": "" }} name="IsNeedBox" class="form-checkbox">
                    </div>
                    {% if products %}
                    <p class="control-value">{{ products.IsNeedBox ? res.string.yes : res.string.no }}</p>
                    {% endif %}
                  </div>
                </div>
	              <div class="form-group">
	                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Remark">{{res.string.remark}}</label>
	                <div class="col-md-6 col-sm-6 col-xs-12">
	                  <div class="input-wrap">
	                    <input type="text"
	                    placeholder="{{ res.string.remark }}"
	                    id="Remark"
											size="30"
	                    name="Remark" class="form-control  col-md-7 col-xs-12">
	                  </div>
	                </div>
	              </div>
            </div>
          </div>



				</div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="button">{{res.string.save}}</button>
        </div>
      </div>
    </form>
    </div>
	</div>
