
<div class="embed-form" {% if proformainvoices %}style="display:none" {% endif %}>
  <div class="box box-success">
    <div class="box-header with-border">
      <!-- /.box-tools -->
      {{res.string.proforma_invoice_line}}
      <a href="#" id="btnOpenAddLine" class="btn pull-right btn-primary">{{res.string.add}}</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body" >
      <table data-controller="manage_proformainvoicelines" class="table table-striped " id="table_ProformaInvoiceLine">
        <thead>
          <tr>
            <th >{{res.string.article_number}}</th>
            <th >{{res.string.description}}</th>
            <th >{{ res.string.finishing}}</th>
            <th >{{res.string.qty}}</th>
            <th >{{res.string.qty_of_pack}}</th>
            <th >{{res.string.cubic}}</th>
            <th >{{res.string.total_cubic}}</th>
            <th >{{res.string.price}}</th>
            <th >{{res.string.total_price}}</th>
            <th ></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for line in proformainvoices.ProformaInvoiceLines %}
            <tr>
              <td data-fieldname="name">{{line.ProductPartner.Name}}</td>
              <td data-fieldname="name">{{line.Description}}</td>
              <td data-fieldname="name">{{line.ProductFinishing}}</td>
              <td data-fieldname="qty">{{line.Qty}}</td>
              <td data-fieldname="qty_on_container">{{ (line.Qty/line.QtyPerPack) | round }}</td>
              <td data-fieldname="cubic_dimension">{{line.CubicDimension | cubic}}</td>
              <td data-fieldname="total_cubic_dimension">{{line.TotalCubicDimension | cubic}}</td>
              <td data-fieldname="price">{{line.Price}}</td>
              <td data-fieldname="total_price">{{ line.TotalPrice}}</td>
              <td data-fieldname="total_price"><ul>
                {% if line.IsSample %}<li>{{res.string.sample_product}}</li> {% endif %}
                {% if line.IsNeedBox %} <li>{{res.string.with_box}}</li> {% endif %}
              </ul>

              </td>
              <td>
                <a style="display:none" href="#" data-id="{{line.Id}}" class="btn btn-default btn-edit-row"><i class="fa fa-pencil"></i></a>
                <a style="display:none" href="#" data-id="{{line.Id}}" class="btn btn-danger btn-delete-row"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">Total</td>
            <td><span id="TotalCd"></span></td>
            <td></td>
            <td colspan="2"><span id="TotalCol"></span></td>
          </tr>
        </tfoot>
      </table>

      </div>
    </div>
  </div>
</div>
