<div class="box box-success">
  <div class="box-header with-border">
    <!-- /.box-tools -->
    {{res.string.proforma_invoice_line}}
    <a href="#" {% if proformainvoices %}style="display:none"{% endif %} id="btnOpenAddLine" class="input-wrap btn pull-right btn-primary">{{res.string.add}}</a>
  </div>
  <!-- /.box-header -->
  <div class="box-body" >
    <table data-controller="manage_proformainvoicelines" class="table table-striped table-hover " data-domain='{"proforma_invoice":{{proformainvoices.Id}}}' id="table_ProformaInvoiceLine">
      <thead>
        <tr>
          <th data-fieldname="id">#</th>
          <th data-fieldname="product_image" data-fieldtype="image">{{res.string.image}}</th>
          <th data-fieldname="name">{{res.string.cust_art_nbr}}</th>
          <th data-fieldname="description">{{res.string.description}}</th>
          <th data-fieldname="product_material" data-fieldtype="array">{{res.string.material}}</th>
          <th data-fieldname="product_finishing" >{{ res.string.finishing}}</th>
          <th data-fieldname="qty" >{{res.string.qty}}</th>
          <th data-fieldname="qty_of_pack" >{{res.string.qty_of_pack}}</th>
          <th data-fieldname="cubic_dimension" data-fieldtype="cbm" >{{res.string.cbm_per_piece}}</th>
          <th data-fieldname="total_cubic_dimension" data-fieldtype="cbm" >{{res.string.total_cubic}}</th>
          <th data-fieldname="calc_disc">{{res.string.discount}}</th>
          <th data-fieldname="price" data-fieldtype="currency"
          data-currency='{"symbol":"{{ proformainvoices.Currency.Symbol }}"
          ,"rate":"{{ exchange_rate(1,proformainvoices.Currency.Code) }}"
          ,"position":"{{ proformainvoices.Currency.Placement }}"}'>
          {{res.string.price}}</th>
          <th data-fieldname="total_price" data-fieldtype="currency"
          data-currency='{"symbol":"{{ proformainvoices.Currency.Symbol }}"
          ,"rate":"{{ exchange_rate(1,proformainvoices.Currency.Code) }}"
          ,"position":"{{ proformainvoices.Currency.Placement }}"}' >{{res.string.total_price}}</th>
          <th data-fieldname="remark" >{{res.string.remark}}</th>
          <th data-fieldname="extra" data-fieldtype="array"></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="9">Total</td>
          <td><span id="TotalCd"></span></td>
          <td></td>
          <td></td>
          <td colspan="2"><span id="TotalCol"></span></td>
        </tr>
      </tfoot>
    </table>

    </div>
  </div>
</div>
