 {% extends "dashboard.html" %} {% set title=" Proforma Invoice " %} {% if proformainvoices %} {% set bc_text = proformainvoices.id %} {% else %} {% set bc_text = 'Baru' %} {% endif %} {% set breadcrumbs = [ {'link': base_url~'index.php/manage_proformainvoices','text':
res.string.proforma_invoice }, {'link':'#','text':bc_text }] %} {% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_ProformaInvoice" method="post" action="{{base_url}}index.php/manage_proformainvoices/write/{{ proformainvoices.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					{% include 'common/_form_header.html' with {'back_url':'/index.php/manage_proformainvoices'~back_link, 'title': res.string.proforma_invoice, 'delete_url':'/index.php/manage_proformainvoices/delete/{{ proformainvoices.Id }}', 'object':proformainvoices}
					%}
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.article_number}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if proformainvoices %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.name }}" value="{{ proformainvoices?proformainvoices.Name:code  }}" name="Name" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if proformainvoices %}
									<p data-fieldname="Name" class="control-value">{{ proformainvoices.Name }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="CustomerId">{{res.string.customer}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if proformainvoices %}style="display:none" {% endif %} class="input-wrap input-group">
										<input type="hidden" type="text" id="CustomerId" value="{{ proformainvoices.CustomerId }}" name="CustomerId">
										<input type="text" required="required" name="displayCustomerId" id="displayCustomerId" placeholder="{{ res.string.customer }}" value="{{ proformainvoices.Partner.Name }}" class="form-control" />
										<span class="input-group-btn">
								<button class="btn btnModal btn-default" id="btnCustomerId"  data-target="ModalCustomer" type="button">{{res.string.search}}</button>
							</span>
									</div>
									{% if proformainvoices %}
									<p data-fieldname="Partner.Name" class="control-value">{{ proformainvoices.Partner.Name }}</p>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Date">{{res.string.date}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if proformainvoices %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.date }}" id="Date" value="{{ proformainvoices.Date  | date('Y/m/d') }}" name="Date" class="form-control input-date col-md-7 col-xs-12">
									</div>
									{% if proformainvoices %}
									<p data-fieldname="Date" class="control-value">{{ proformainvoices.Date | date('d M Y') }}</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>

            <textarea name="Lines" style="display:none" id="Lines"></textarea>
          <div class="row">
            <div class="col-sm-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab_1" data-toggle="tab">{{res.string.proforma_invoice_line}}</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <!-- /.tab-pane -->
                  <div class="tab-pane clearfix active" id="tab_1">
                    {% include "admin/proformainvoices/_proforma_invoice_line_tab.html"%}
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
			</div>
		</form>
	</div>
</div>
<!-- Modal -->
{% include "admin/customers/_modal.html" %}
{% include "admin/products/_modal.html" %} {% endblock %}

{% block bottom %}
<script>
var Lines = [];
var idx =0;
$(document).ready(function(){
  $('#Price').on('keyup change',function(e){
    var disc = 0;
    var price = $(this).val()
    var normal_price = $('#ListPrice').val()
    var gap = normal_price - price
    $('#CalculatedDiscount').val(((gap/normal_price)*100).toFixed(2))
  })
    $('#table_ProformaInvoiceLine').loadTableData(
      {
        search:false,
        serverSide:false,
        paging:false
      })
    $('#saveLine').click(function(e){
      e.preventDefault();
      mod_line({
        Name:$('#LineName').val(),
        ProductId: $('#ProductId').val(),
        Qty:$('#Qty').val(),
        Description:$('#Description').val(),
        Price:$('#Price').val(),
        CubicDimension:$('#CubicDimension').val(),
        QtyPerPack:$('#QtyPerPack').val(),
        IsSample:$('#IsSample').is(":checked"),
        IsNeedBox:$('#IsNeedBox').is(":checked")
      },'write')
      $('.pi_lines').find('input').val('')
    })

    $('#ModalProduct, #ModalCustomer').on('hidden.bs.modal', function () {
          // do something…
          $('#ProductId').trigger('change')

      })
    $('.pi_lines').simpleValidation()
  })

  $('#ProductId').change(function(){
      $.ajax({
        url:'/index.php/manage_products/get_detail_json/'+$(this).val()+
        '?customer_id='+$('#CustomerId').val(),
        dataType:'JSON',
        success:function(o){
          var art = o.Name
          var price = o.ListPrice
          var desc = o.Description

          if(o.ProductCustomers){
            price = o.ProductCustomers[0].ProductPrice
            art = o.ProductCustomers[0].Name
            desc = o.ProductCustomers[0].Description
          }
          for (var i in o) {
            if (o.hasOwnProperty(i)) {
              $('#'+i).val(o[i])
            }
          }
          $('#CubicDimension').val(o.IsKdn?o.CubicKdn:o.CubicAsb)
          $('#LineName').val(art)
          $('#Description').val(desc)
          $('#Price').val(price)
          $('#Price').trigger('change')
        }
      })
  })

  function mod_line(data,method){

    idx = idx+1
    var t = $('#table_ProformaInvoiceLine').DataTable();
    if(method == 'write'){
      Lines.push({
        index:idx,
        Id:$(data._selector).data('id'),
        Name: data.Name,
        Description:data.Description,
        ProductId: data.ProductId,
        Qty: data.Qty,
        CubicDimension: data.CubicDimension,
        Price: data.Price,
        QtyPerPack: data.QtyPerPack,
        IsSample: data.IsSample,
        IsNeedBox: data.IsNeedBox,
        Type:method
      })
      var special = ""
      if(data.IsSample){
        special += "{{res.string.is_sample}}"
      }
      if(data.IsNeedBox){
        special += "{{res.string.with_box}}"
      }

      t.row.add([
        data.Name,
        data.Description,
        special,
        data.Qty,
        Math.ceil(data.Qty/data.QtyPerPack),
        data.CubicDimension,
        data.CubicDimension*data.Qty,
        data.Price,
        data.Price*data.Qty,
        '<a href="#" data-index="'+ data.index+'" '+
        'class="btn btn-danger btn-delete-row">'+
        '<i class="fa fa-trash"></i></a>'
      ]).draw()
    }else if (method=='delete') {
      console.log($(data._selector));

        if($(data._selector).data('id')){
          console.log('removeeeeeeeeee');
          Lines.push({
            index:idx,
            Id:$(data._selector).data('id'),
            Type:method
          })
        }else{
          Lines.splice(Lines.map(function(x) {return x.index; }).indexOf(data.index),1)
        }
        t.row( $(data._selector).parents('tr') )
          .remove()
          .draw();
    }
    $('#Lines').text(JSON.stringify(Lines))

  }
  $('#table_ProformaInvoiceLine').on( 'click','.btn-delete-row',function(e){
    e.preventDefault()
    console.log('hahahahahah');
    var oidx = $(this).data('index')
    mod_line({
      id:$(this).data('id'),
      index:$(this).data('index'),
      _selector:this
    },'delete')
  })
</script>
{% endblock %}
