<h3 class="box-title"> {{title}} </h3>
<a href="#" onclick="window.history.back()" class="btn btn-default pull-right">{{res.string.back}}</a>
{% if object %}
  <a href="#" class="btn btn-danger pull-right" data-url="{{delete_url}}" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> {{res.string.delete}}</a>
  <a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> {{res.string.edit}}</a>
  <a href="#" style="display:none" class="btn btn-primary pull-right" id="btn-canceledit">{{res.string.cancel}}</a>
{% endif %}
<button type="submit" {% if object %}style="display:none"{% endif %}  name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> {{res.string.save}}</button>
