
{% extends "dashboard.html" %}
{% set title=" Finishing " %}
{% if finishings %}
	 {% set bc_text = finishings.id  %}
{% else %}
	 {% set bc_text = res.string.new %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_finishings','text': res.string.finishing },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Finishing" method="post" 
			    action="{{base_url}}index.php/manage_finishings/write/{{ finishings.id }}?ref={{res.query_params.ref}}" 
			data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
				{% include 'common/_form_header.html'
				with {'back_url':'/index.php/manage_finishings'~back_link,
				'title': res.string.finishing,
				'delete_url':'/index.php/manage_finishings/delete/{{ finishings.Id }}',
				'object':finishings} %}
				</div>
				<div class="box-body">

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.name}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if finishings %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.name }}" id="Name" value="{{ finishings.Name }}"
							name="Name" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if finishings %}
									<p class="control-value">{{ finishings.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">{{res.string.description}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if finishings %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.description }}" id="Description" value="{{ finishings.Description }}"
							name="Description"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if finishings %}
									<p class="control-value">{{ finishings.Description  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}

{% endblock %}
