<div class="">
  <div class="box box-success">
    <!-- /.box-header -->
    <div class="box-header with-border">
      <!-- /.box-tools -->
      <a href="/index.php/manage_{{products.hasComponent?'component':'product'}}partners/create?products={{products.Id}}"
      class="btn btn-default pull-right">{{res.string.add}}</a>
    </div>
    <div class="box-body">
      <table id="BuyPriceList"
      class="table table-striped "
      data-domain='{"product_id":{{ products.Id }},"type":"buy"}'
      data-controller="manage_{{products.hasComponent?'component':'product'}}partners">
        <thead>
          <tr>
            <th data-fieldname="partner_name">{{res.string.supplier}}</th>
            <th data-fieldname="object">{{attribute(res.string,products.hasComponent?'component':'product')}}</th>
            <th data-fieldname="{{products.hasComponent?'price':'product_price'}}">{{res.string.price}}</th>
            <th data-fieldname="created_at" data-fieldtype="datetime">{{res.string.update_time}}</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
