
	<div class="modal fade" id="ModalProduct" data-init="0" data-controller="manage_products" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Pilih Product</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_products" class="table table-striped " id="table_Product">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="name">{{res.string.name }}</th>
				<th data-fieldname="description">{{res.string.description }}</th>
				<th data-fieldname="is_kdn">{{res.string.is_kdn }}</th>
				<th data-fieldname="cost_price">{{res.string.cost_price }}</th>
				<th data-fieldname="list_price">{{res.string.list_price }}</th>
				<th data-fieldname="cubic_asb">{{res.string.cubic_asb }}</th>
				<th data-fieldname="cubic_kdn">{{res.string.cubic_kdn }}</th>
				<th data-fieldname="width_asb">{{res.string.width_asb }}</th>
				<th data-fieldname="height_asb">{{res.string.height_asb }}</th>
				<th data-fieldname="depth_asb">{{res.string.depth_asb }}</th>
				<th data-fieldname="width_kdn">{{res.string.width_kdn }}</th>
				<th data-fieldname="height_kdn">{{res.string.height_kdn }}</th>
				<th data-fieldname="depth_kdn">{{res.string.depth_kdn }}</th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	