 {% extends "dashboard.html" %} {% set title=" Product " %} {% if products %} {% set bc_text = products.id %} {% else %}
{% set bc_text = 'Baru' %} {% endif %} {% set breadcrumbs = [ {'link': base_url~'index.php/manage_products','text': res.string.products
}, {'link':'#','text':bc_text }] %} {% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Product" method="post" action="{{base_url}}index.php/manage_products/write/{{ products.id }}" data-parsley-validate
		    class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					{% include 'common/_form_header.html' with {'back_url':'/index.php/manage_products'~back_link, 'title': res.string.product,
					'delete_url':'/index.php/manage_products/delete/{{ products.Id }}', 'object':products} %}
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.article_number}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" id="Article" value="{{ products.Article?products.Article:new_number }}" name="Article" required="required" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if products %}
									<p class="control-value">{{ products.Article }}</p>
									{% endif %}
								</div>
							</div>
  							<div class="form-group">
  								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.name}}</label>
  								<div class="col-md-6 col-sm-6 col-xs-12">
  									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
  										<input type="text" id="Name" value="{{ products.Name }}" name="Name" required="required" class="form-control  col-md-7 col-xs-12">
  									</div>
  									{% if products %}
  									<p class="control-value">{{ products.Name }}</p>
  									{% endif %}
  								</div>
  							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.description}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" id="Description" value="{{ products.Description }}" name="Description" required="required" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if products %}
									<p class="control-value">{{ products.Description }}</p>
									{% endif %}
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.is_kdn}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
										<input type="checkbox" id="IsKdn" value="1" {{ products.IsKdn ? "checked": "" }} name="IsKdn" class="form-checkbox">
									</div>
									{% if products %}
									<p class="control-value">{{ products.IsKdn ? res.string.yes : res.string.no }}</p>
									{% endif %}
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.has_component}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
										<input type="checkbox" id="HasComponent" value="1" {{ products.HasComponent ? "checked": "" }} name="HasComponent" class="form-checkbox">
									</div>
									{% if products %}
									<p class="control-value">{{ products.HasComponent ? res.string.yes : res.string.no }}</p>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col-sm-6">

              <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.cost_price}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
										<input type="number" id="CostPrice" value="{{ products.CostPrice }}" name="CostPrice" required="required" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if products %}
									<p class="control-value">{{ products.CostPrice }}</p>
									{% endif %}
								</div>
							</div>
              <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.net_cubic}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
										<input type="number" id="NetCubic" value="{{ products.NetCubic }}" name="NetCubic" required="required" class="form-control col-md-7 col-xs-12">
									</div>
									{% if products %}
									<p class="control-value">{{ products.NetCubic }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.list_price}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if products %}style="display:none" {% endif %} class="input-wrap">
										<input type="number" id="ListPrice" value="{{ products.ListPrice }}" name="ListPrice" required="required" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if products %}
									<p class="control-value">{{ products.ListPrice }}</p>
									{% endif %}
								</div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-sm-12">

							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#tab_1" data-toggle="tab">{{res.string.dimension}}</a>
									</li>
									<li>
										<a href="#tab_2" data-toggle="tab">{{ res.string.image }}</a>
									</li>
									<li id="component_tab">
										<a href="#tab_3" data-toggle="tab">{{ res.string.component }}</a>
									</li>
									<li>
										<a href="#tab_4" data-toggle="tab">{{ res.string.available_finishing }}</a>
									</li>
								</ul>
								<div class="tab-content">
                  <!-- /.tab-pane -->
									<div class="tab-pane clearfix active" id="tab_1">
                    {% include "admin/products/_dimension_tab.html"%}
									</div>
									<!-- /.tab-pane -->
									<div class="tab-pane" id="tab_2">
                    {% include "admin/products/_prod_img_tab.html"%}
                  </div>
									<!-- /.tab-pane -->
									<div class="tab-pane" id="tab_3">
                    {% include "admin/products/_components_tab.html"%}
                  </div>
									<!-- /.tab-pane -->
									<div class="tab-pane" id="tab_4">
                    {% include "admin/products/_finishing_tab.html"%}
                  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</form>
		</div>
	</div>

	<!-- Modal -->

	{% endblock %} {% block bottom%} {% include 'common/_img_upload_modal.html'%}
	<script>
  var prod_comp = $('#table_ProductComponent').DataTable({
    'ordering':false,
    'searching':false
  })
		$(document).ready(function () {
			$('input:checkbox').trigger('change')
		})
		$('#IsKdn').change(function (e) {
      $('.form-knockdown').toggle($(this).prop('checked'))
		})
		$('#HasComponent').change(function (e) {
      $('#component_tab').toggle($(this).prop('checked'))
		})

		$('.form-dimension-input').on('change keyup paste', function () {
			var r = 1;
			var b = $(this).parents('.form-dimension');
			b.find('.form-dimension-input').each(function () {
				r = r * $(this).val()
			})
			b.find('.form-dimension-result').val(r)
		})

    	var imgProd = []
    	var compProd = []


		$('#btnSaveImgProduct').click(function(e){
    	e.preventDefault()
			imgProd.push({
					'name':$('#prodImagesName').val(),
					'url':$('#Image').val(),
					'description':$('#prodImagesDescription').val(),
					'product_id':'{{products.Id}}',
          'state':'new'
				})

			$('#imgProduct').val(JSON.stringify(imgProd))
			$('.prod-img-list').append('<div class="image col-sm-2 col-xs-6">'+
'<a href="#/" data-toggle="modal" class="thumbnail prod-image-thumbnail" data-target="#modalImgProduct">'+
'<img class="" src="'+$('#Image').val()+'"/></a>'+
'</div>	')
      {% if products %}
			// $.ajax({
			// 	url:'/index.php/manage_productimages/write',
			// 	method:'POST',
			// 	dataType:'JSON',
			// 	data:JSON.stringify({
			// 		'name':$('#prodImagesName').val(),
			// 		'url':$('#Image').val(),
			// 		'description':$('#prodImagesDescription').val(),
			// 		'product_id':'{{products.Id}}'
			// 	}),
			// 	success:function(o){
			// 		console.log(o)
			// 	}
			// })
      {% endif %}
		})
//TODO:Problem with index, fix later
    $('#btnSaveComponent').click(function(e){
      e.preventDefault()
      var idx = compProd.length
      var nc = {
        index:idx,
        component_id:$('#ComponentId').val(),
        component_name:$('#displayComponentId').val(),
        qty:$('#Qty').val(),
        state:'new'
      };
      compProd.push(nc)
      prod_comp.row.add([nc.component_name,nc.qty,'<a href="#" data-idx="'+idx+'" class="btn btn-danger btn-delete-row"><i class="fa fa-trash"></i></a>']).draw()
      $('#productComponents').val(JSON.stringify(compProd))
    })
    $('#table_ProductComponent').on( 'click','.btn-delete-row',function(e){
      e.preventDefault()
      var oidx = $(this).data('idx')
      compProd.splice(compProd.map(function(x) {return x.index; }).indexOf(oidx),1)
      $('#productComponents').val(JSON.stringify(compProd))

      prod_comp.row( $(this).parents('tr') )
        .remove()
        .draw();
    })
	</script>

	{% endblock %}
