
{% extends "dashboard.html" %}
{% set title=" Component Partner " %}
{% if componentpartners %}
	 {% set bc_text = componentpartners.id  %}
{% else %}
	 {% set bc_text = 'Baru' %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_componentpartners','text': res.string.componentpartner },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_ComponentPartner" method="post" action="{{base_url}}index.php/manage_componentpartners/write" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
				{% include 'common/_form_header.html'
				with {'back_url':'/index.php/manage_componentpartners'~back_link,
				'title': res.string.componentpartner,
				'delete_url':'/index.php/manage_componentpartners/delete/' ~ componentpartners.Id,
				'object':componentpartners} %}
				</div>
				<div class="box-body">

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="PartnerId">{{res.string.supplier}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if componentpartners %}style="display:none"{%else%} class="input-wrap input-group"{% endif %}>
							<input type="hidden" type="text" id="PartnerId" value="{{ componentpartners.PartnerId }}" name="PartnerId"  >
							<input type="text" required="required" name="displayPartnerId" id="displayPartnerId"  placeholder="{{ res.string.partner_id }}" value="{{ componentpartners.Partner }}" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btnModal btn-default" id="btnPartnerId"  data-target="ModalSupplier" type="button">{{res.string.search}}</button>
							</span>
						</div>
								{% if componentpartners %}
									<p class=" {% if not componentpartners %}control-{%endif%}value">{{ componentpartners.Partner.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="ComponentId">{{res.string.component_id}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if componentpartners %}style="display:none" {%else%} class="input-wrap input-group"{% endif %}>
							<input type="hidden" type="text" id="ComponentId" value="{{ componentpartners.ComponentId }}" name="ComponentId"  >
							<input type="text" required="required" name="displayComponentId" id="displayComponentId"  placeholder="{{ res.string.component_id }}" value="{{ componentpartners.Component }}" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btnModal btn-default" id="btnComponentId" data-domain='{"avail_component":{{availcmp}}}' data-target="ModalComponent" type="button">{{res.string.search}}</button>
							</span>
						</div>
								{% if componentpartners %}
									<p class=" {% if not componentpartners %}control-{%endif%}value">{{ componentpartners.Component.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Price">{{res.string.price}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if componentpartners %}style="display:none"{% endif %} class="input-wrap">
							<input type="number" placeholder="{{ res.string.price }}" id="Price" value="{{ componentpartners.Price }}"
							name="Price"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if componentpartners %}
									<p class="control-value">{{ componentpartners.Price  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}
{% include "admin/suppliers/_modal.html" %}
{% include "admin/components/_modal.html" with {nocreate:1} %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#btn-edit').trigger('click')
		$('#btn-canceledit').remove()
		$('#btn-delete').remove()
	})
</script>
{% endblock %}
