
{% extends "dashboard.html" %}
{% set title=" Component Partner " %}

{% set breadcrumbs = [
	{'link':'#','text':res.string.componentpartner  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{res.string.componentpartners}}</h3>
						<a href="{{base_url}}index.php/manage_componentpartners/create" class="btn btn-primary pull-right">{{res.string.new_data}}</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-controller="manage_componentpartners" class="table table-striped " id="table_ComponentPartner">
		<thead>
			<tr>
				<th data-fieldname="partner_id">{{res.string.partner_id}}</th>
				<th data-fieldname="component_id">{{res.string.component_id}}</th>
				<th data-fieldname="price">{{res.string.price}}</th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
<script>

$(document).ready(function(){
    $('#table_ComponentPartner').loadTableData()
  })
</script>
{% endblock %}
