
	<div class="modal fade" id="ModalPartnerLocation" data-init="0" data-controller="manage_partnerlocations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">PartnerLocation</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_partnerlocations" class="table table-striped " id="table_PartnerLocation">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="name">{{res.string.name }}</th>
				<th data-fieldname="partner_id">{{res.string.partner_id }}</th>
				<th data-fieldname="country_id">{{res.string.country_id }}</th>
				<th data-fieldname="city">{{res.string.city }}</th>
				<th data-fieldname="address">{{res.string.address }}</th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	