<div class="box">
  <div class="box-header">
    <h3 class="box-title">{{res.string.partnerlocations}}</h3>
    <a href="{{base_url}}index.php/manage_partnerlocations/create?partner_id={{suppliers.Id}}&amp;src=suppliers" class="btn btn-primary pull-right">{{res.string.new_data}}</a>
    <div class="clearfix"></div>
  </div>
  <div class="box-body">
    <p class="text-muted font-13 m-b-30"></p>
    <table data-domain='{"partner_id":{{suppliers.Id}}}' data-controller="manage_partnerlocations" class="table table-striped " id="table_PartnerLocation">
      <thead>
        <tr>
          <th data-fieldname="name">{{res.string.address_name}}</th>
          <th data-fieldname="address">{{res.string.address}}</th>
          <th data-fieldname="city">{{res.string.city}}</th>
          <th data-fieldname="postal">{{res.string.postal}}</th>
          <th data-fieldname="country_id">{{res.string.country}}</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
</div>
