<div class="modal fade" id="ModalSupplier" data-init="0" data-controller="manage_suppliers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{res.string.customer}}</h4>
			</div>
			<div class="modal-body">
				<table data-display="1" data-controller="manage_suppliers" class="table table-striped " id="table_Partner">
					<thead>
						<tr>
							<th></th>
							<th data-fieldname="name">{{res.string.name}}</th>
							<th data-fieldname="address">{{res.string.address}}</th>
							<th data-fieldname="phone">{{res.string.phone}}</th>
							<th data-fieldname="fax">{{res.string.fax}}</th>
							<th data-fieldname="website">{{res.string.email}}</th>
						</tr>
					</thead>
				</table>

			</div>
		</div>
	</div>
</div>
