 {% extends "dashboard.html" %} {% set title= res.string.supplier %} {% if suppliers %} {% set bc_text = suppliers.name %} {% else %} {% set bc_text = 'Baru' %} {% endif %} {% set breadcrumbs = [ {'link': base_url~'index.php/manage_suppliers','text':res.string.supplier},
{'link':'#','text':bc_text }] %} {% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <form id="form_Partner" method="post" action="{{base_url}}index.php/manage_suppliers/write/{{ suppliers.id }}" data-parsley-validate class="form-horizontal form-label-left">
      <div class="box box-info">
        <div class="box-header with-border">
          {% set back_link = suppliers.CompanyId?'/detail/'~suppliers.CompanyId:''%} {% include 'common/_form_header.html' with {'back_url':'/index.php/manage_suppliers'~back_link, 'title': res.string.supplier, 'delete_url':'/index.php/manage_suppliers/delete/'~suppliers.Id,
          'object':suppliers} %}
          <div class="clearfix"></div>
        </div>
        <div class="box-body">
          <div class="col-sm-12">
            <input type="hidden" name="CompanyId" value="{{res.query_params.company_id}}">
            <div class="row">
              {% include 'common/_img_input.html' with { 'value':suppliers.Image,name:'Image','withoutrow':true } %}
              <div class="col-sm-10">
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if suppliers %}style="display:none" {% endif %} class="input-wrap">
                      <input type="text" id="Name" value="{{ suppliers.Name }}" placeholder="{{res.string.name}}" name="Name" required="required" class="form-control  col-md-7 col-xs-12">
                    </div>
                    {% if suppliers %}
                    <h3 class="control-value">{{ suppliers.Name }}</h3>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.phone}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if suppliers %}style="display:none" {% endif %} class="input-wrap">
                      <div class="phone-list">
                        {% set phones = suppliers.Phone | split(', ') %}
                        {% for phone in phones %}
                        <input type="text" value="{{ phone }}" name="Phone[]" class="form-control autoremove col-md-7 col-xs-12">
                        {% endfor %}
                      </div>
                      <a href="#" id="addPhone"> + {{res.string.add_more}}</a>
                    </div>

                    {% if suppliers %}
                    <p class="control-value">{{ suppliers.Phone  | replace({", ":"<br>"}) |raw }}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.fax}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if suppliers %}style="display:none" {% endif %} class="input-wrap">
                      <input type="text" id="Fax" value="{{ suppliers.Fax }}" name="Fax" class="form-control  col-md-7 col-xs-12">
                    </div>
                    {% if suppliers %}
                    <p class="control-value">{{ suppliers.Fax }}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.email}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if suppliers %}style="display:none" {% endif %} class="input-wrap">
                      <div class="email-list">
                        {% set emails = suppliers.Email | split(', ') %}
                        {% for email in emails %}
                        <input type="text" value="{{ email }}" name="Email[]" class="form-control autoremove col-md-7 col-xs-12">
                        {% endfor %}
                      </div>
                      <a href="#" id="addEmail"> + {{res.string.add_more}}</a>
                    </div>
                    {% if suppliers %}
                    <p class="control-value">{{ suppliers.Email | replace({", ":"<br>"}) |raw }}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.website}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if suppliers %}style="display:none" {% endif %} class="input-wrap">
                      <input type="text" id="Website" value="{{ suppliers.Website }}" name="Website" class="form-control  col-md-7 col-xs-12">
                    </div>
                    {% if suppliers %}
                    <p class="control-value">{{ suppliers.Website }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.product_type}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if suppliers %}style="display:none" {% endif %} class="input-wrap">
                      {{selection_m2o('SupplierTypeId','SupplierType',null,suppliers.SupplierTypeId) | raw}}
                    </div>
                    {% if suppliers %}
                    <p class="control-value">{{ suppliers.SupplierType.Name }}</p>
                    {% endif %}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.tax_number}}</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div {% if suppliers %}style="display:none" {% endif %} class="input-wrap">
                      <input type="text" id="TaxNumber" value="{{ suppliers.TaxNumber }}" name="TaxNumber" class="form-control  col-md-7 col-xs-12">
                    </div>
                    {% if suppliers %}
                    <p class="control-value">{{ suppliers.TaxNumber }}</p>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>

          </div>
          {% if suppliers and not suppliers.CompanyId > 0 %}
          <div class="row">
						<div class="col-sm-12">

							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#tab_1" data-toggle="tab">{{res.string.contact_person}}</a>
									</li>
									<li>
										<a href="#tab_2" data-toggle="tab">{{ res.string.bank }}</a>
									</li>
									<li id="component_tab">
										<a href="#tab_3" data-toggle="tab">{{ res.string.address }}</a>
									</li>

								</ul>
								<div class="tab-content">
                  <!-- /.tab-pane -->
									<div class="tab-pane clearfix active" id="tab_1">
                    {% include "admin/suppliers/_contact_detail_tab.html"%}
									</div>
									<!-- /.tab-pane -->
									<div class="tab-pane" id="tab_2">
                    {% include "admin/suppliers/_bank_detail_tab.html"%}
                  </div>
									<!-- /.tab-pane -->
									<div class="tab-pane" id="tab_3">
                    {% include "admin/suppliers/_address_tab.html"%}
                  </div>
								</div>
							</div>
						</div>
					</div>
          {% endif %}
        </div>

      </div>
    </form>
  </div>
</div>

<!-- Modal -->
{% endblock %} {% block bottom%} {% include 'common/_img_upload_modal.html'%}
<script type="text/javascript">
  $('#addPhone').click(function(e){
    e.preventDefault()
    var inp = '<input type="text" name="Phone[]" autofocus class="form-control autoremove col-md-7 col-xs-12">'
    $('.phone-list').append(inp)
  })
    $('#addEmail').click(function(e){
      e.preventDefault()
      var inp = '<input type="text" name="Email[]" autofocus class="form-control autoremove col-md-7 col-xs-12">'
      $('.email-list').append(inp)
    })
    $('.form-group').on('change keyup blur','.autoremove',function(e){
      if($(this).val()==''){
        if($(this).siblings().length>0){
          $(this).remove()
        }
      }
    })
  $(document).ready(function(){
      $('#table_PartnerBank').loadTableData()
      $('#table_PartnerLocation').loadTableData()
    })
</script>
{% endblock %}
