
{% extends "dashboard.html" %}
{% set title=" Partner " %}
{% if partners %}
	 {% set bc_text = partners.id  %}
{% else %}
	 {% set bc_text = 'Baru' %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_partners','text': res.string.partners },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Partner" method="post" action="{{base_url}}index.php/manage_partners/write/{{ partners.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
				{% include 'common/_form_header.html'
				with {'back_url':'/index.php/manage_partners'~back_link,
				'title': res.string.partner,
				'delete_url':'/index.php/manage_partners/delete/{{ partners.Id }}',
				'object':partners} %}
				</div>
				<div class="box-body">
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.name}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.name }}" id="Name" value="{{ partners.Name }}"
							name="Name" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">{{res.string.email}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.email }}" id="Email" value="{{ partners.Email }}"
							name="Email"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Email  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Address">{{res.string.address}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.address }}" id="Address" value="{{ partners.Address }}"
							name="Address"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Address  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Phone">{{res.string.phone}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.phone }}" id="Phone" value="{{ partners.Phone }}"
							name="Phone"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Phone  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Website">{{res.string.website}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.website }}" id="Website" value="{{ partners.Website }}"
							name="Website"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Website  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Fax">{{res.string.fax}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.fax }}" id="Fax" value="{{ partners.Fax }}"
							name="Fax"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Fax  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Image">{{res.string.image}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.image }}" id="Image" value="{{ partners.Image }}"
							name="Image"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Image  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="TaxNumber">{{res.string.tax_number}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.tax_number }}" id="TaxNumber" value="{{ partners.TaxNumber }}"
							name="TaxNumber"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.TaxNumber  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="BankDetail">{{res.string.bank_detail}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.bank_detail }}" id="BankDetail" value="{{ partners.BankDetail }}"
							name="BankDetail"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.BankDetail  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="CompanyId">{{res.string.company_id}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="number" placeholder="{{ res.string.company_id }}" id="CompanyId" value="{{ partners.CompanyId }}"
							name="CompanyId"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.CompanyId  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="IsEmployee">{{res.string.is_employee}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="checkbox" placeholder="{{ res.string.is_employee }}" id="IsEmployee" value="{{ partners.IsEmployee }}"
							name="IsEmployee" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.IsEmployee  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="IsCustomer">{{res.string.is_customer}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="checkbox" placeholder="{{ res.string.is_customer }}" id="IsCustomer" value="{{ partners.IsCustomer }}"
							name="IsCustomer" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.IsCustomer  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="IsSupplier">{{res.string.is_supplier}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="checkbox" placeholder="{{ res.string.is_supplier }}" id="IsSupplier" value="{{ partners.IsSupplier }}"
							name="IsSupplier" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.IsSupplier  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}

{% endblock %}
