<input type="hidden" name="Type" value="component">
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.article_number}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
      <input type="text" placeholder="{{ res.string.article_number }}" id="Name" value="{{ components? components.Name:new_number }}" name="Name" required="required" class="form-control  col-md-7 col-xs-12">
    </div>
    {% if components %}
    <p class="control-value">{{ components.Name }}</p>
    {% endif %}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">{{res.string.name}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
      <input type="text" placeholder="{{ res.string.name }}" id="Description" value="{{ components.Description }}" name="Description" class="form-control  col-md-7 col-xs-12">
    </div>
    {% if components %}
    <p class="control-value">{{ components.Description }}</p>
    {% endif %}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.type}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
      <select class="form-select"  name="Type">
        <option {% if components.Type == "component"%} selected{%endif%} value="component">Component</option>
        <option {% if components.Type == "support_component"%} selected{%endif%} value="support_component">Support Component</option>
        <option {% if components.Type == "misc"%} selected{%endif%} value="misc">Miscellaneous</option>
      </select>
    </div>
    {% if components %}
    <p class="control-value">{{ attribute(res.string,components.Type) }}</p>
    {% endif %}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Material">{{res.string.material}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
      {{selection_m2o('MaterialId','Material',null,components.MaterialId) | raw }}
    </div>
    <input type="text" style="display:none" name="Material" id="Material" class="form-control" value="">
    {% if components %}
    <p class="control-value">{{ components.Material.Name }}</p>
    {% endif %}
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.uom}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
        {{ selection_m2o('UomId','UnitOfMeasure',{'Type':'reference'},components.UomId) | raw}}
    </div>
    {% if components %}
    <p class="control-value">{{ components.UnitOfMeasure.Name }}</p>
    {% endif %}
  </div>
</div>
