<input type="hidden" name="Type" value="component">
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.name}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
      <input type="text" placeholder="{{ res.string.name }}" id="Name" value="{{ components.Name }}" name="Name" required="required" class="form-control  col-md-7 col-xs-12">
    </div>
    {% if components %}
    <p class="control-value">{{ components.Name }}</p>
    {% endif %}
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">{{res.string.description}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
      <input type="text" placeholder="{{ res.string.description }}" id="Description" value="{{ components.Description }}" name="Description" class="form-control  col-md-7 col-xs-12">
    </div>
    {% if components %}
    <p class="control-value">{{ components.Description }}</p>
    {% endif %}
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Material">{{res.string.material}}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div {% if components %}style="display:none" {% endif %} class="input-wrap">
      {{selection_m2o('MaterialId','Material',null,components.MaterialId) | raw }}
    </div>
    <input type="text" style="display:none" name="Material" id="Material" class="form-control" value="">
    {% if components %}
    <p class="control-value">{{ components.Material.Name }}</p>
    {% endif %}
  </div>
</div>
