
	<div class="modal fade" id="ModalComponent" data-init="0" data-controller="manage_components" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Component</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_components" class="table table-striped " id="table_Component">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="name">{{res.string.name }}</th>
				<th data-fieldname="description">{{res.string.description }}</th>
				<th data-fieldname="material">{{res.string.material }}</th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	