
{% extends "dashboard.html" %}
{% set title=" Component " %}
{% if components %}
	 {% set bc_text = components.id  %}
{% else %}
	 {% set bc_text = 'Baru' %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_components','text':' Component '},
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Component" method="post" action="{{base_url}}index.php/manage_components/write/{{ components.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title"> {{res.string.component}} </h3>
					<a href="{{base_url}}index.php/manage_components" class="btn btn-default pull-right">{{res.string.back}}</a>
					{% if components %}
						<a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> {{res.string.delete}}</a>
						<a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> {{res.string.edit_data}}</a>
						<a href="#" style="display:none" class="btn btn-primary pull-right" id="btn-canceledit">{{res.string.cancel}}</a>
					{% endif %}
					<button type="submit" {% if components %}style="display:none"{% endif %}  name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> Simpan</button>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.name}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if components %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Name" value="{{ components.Name }}"
							name="Name" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if components %}
									<p class="control-value">{{ components.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.description}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if components %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Description" value="{{ components.Description }}"
							name="Description"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if components %}
									<p class="control-value">{{ components.Description  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
			</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}

{% endblock %}
