
{% extends "dashboard.html" %}
{% set title=" Component " %}
{% if components %}
	 {% set bc_text = components.id  %}
{% else %}
	 {% set bc_text = 'Baru' %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_components','text': res.string.component },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Component" method="post" action="{{base_url}}index.php/manage_components/write/{{ components.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
				{% include 'common/_form_header.html'
				with {'back_url':'/index.php/manage_components'~back_link,
				'title': res.string.component,
				'delete_url':'/index.php/manage_components/delete/' ~ components.Id,
				'object':components} %}
				</div>
				<div class="box-body">

					{% include "admin/components/_form_piece.html" %}

				</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}
<script type="text/javascript">
$(document).ready(function () {
	$('input:checkbox').trigger('change')
	$('#MaterialId').on("select2:opening", function() {
		setTimeout(function(){
			if($('.select2-dropdown').find('.select2-add').length < 1){
				$('.select2-dropdown').append('<span class="select2-add"><a onclick="create_new_material()" class="btn btn-select2-new" style="width:100%" href="#">Add new</a></span>')
			}
		}, 500);
	});

})

function create_new_material(){
	$('#MaterialId').select2('close');
	$('#MaterialId').parents('.input-wrap').hide()
	$('#Material').show()
	$('#Material').find('input').focus()
}
</script>
{% endblock %}
