
{% extends "dashboard.html" %}
{% set title=" Component " %}
{% if components %}
	 {% set bc_text = components.id  %}
{% else %}
	 {% set bc_text = 'Baru' %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_components','text': res.string.component },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Component" method="post" action="{{base_url}}index.php/manage_components/write/{{ components.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
				{% include 'common/_form_header.html'
				with {'back_url':'/index.php/manage_components'~back_link,
				'title': res.string.component,
				'delete_url':'/index.php/manage_components/delete/' ~ components.Id,
				'object':components} %}
				</div>
				<div class="box-body">
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.name}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if components %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.name }}" id="Name" value="{{ components.Name }}"
							name="Name" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if components %}
									<p class="control-value">{{ components.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">{{res.string.description}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if components %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.description }}" id="Description" value="{{ components.Description }}"
							name="Description"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if components %}
									<p class="control-value">{{ components.Description  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Material">{{res.string.material}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if components %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="{{ res.string.material }}" id="Material" value="{{ components.Material }}"
							name="Material"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if components %}
									<p class="control-value">{{ components.Material  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}

{% endblock %}
