
{% extends "dashboard.html" %}
{% set title=" Product Stock " %}
{% if productstocks %}
	 {% set bc_text = productstocks.Product.Name  %}
{% else %}
	 {% set bc_text = res.string.new %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_productstocks','text': res.string.stock },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_ProductStock" method="post" action="{{base_url}}index.php/manage_productstocks/write/{{ productstocks.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					<a href="{{base_url}}index.php/manage_productstocks" class="btn btn-default pull-right">{{res.string.back}}</a>
				</div>
				<div class="box-body">

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="PartnerLocationId">{{res.string.partner_location_id}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if productstocks %}style="display:none"{% endif %} class="input-wrap input-group">
							<input type="hidden" type="text" id="PartnerLocationId" value="{{ productstocks.PartnerLocationId }}" name="PartnerLocationId"  >
							<input type="text" required="required" name="displayPartnerLocationId" id="displayPartnerLocationId"  placeholder="{{ res.string.partner_location_id }}" value="{{ productstocks.PartnerLocation }}" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btnModal btn-default" id="btnPartnerLocationId"  data-target="ModalPartnerLocation" type="button">{{res.string.search}}</button>
							</span>
						</div>
								{% if productstocks %}
									<p class="control-value">{{ productstocks.PartnerLocation.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="ProductId">{{res.string.product_id}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if productstocks %}style="display:none"{% endif %} class="input-wrap input-group">
							<input type="hidden" type="text" id="ProductId" value="{{ productstocks.ProductId }}" name="ProductId"  >
							<input type="text" required="required" name="displayProductId" id="displayProductId"  placeholder="{{ res.string.product_id }}" value="{{ productstocks.Product }}" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btnModal btn-default" id="btnProductId"  data-target="ModalProduct" type="button">{{res.string.search}}</button>
							</span>
						</div>
								{% if productstocks %}
									<p class="control-value">[{{productstocks.Product.Name}}] - {{ productstocks.Product.Description  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Qty">{{res.string.qty}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if productstocks %}style="display:none"{% endif %} class="input-wrap">
							<input type="number" placeholder="{{ res.string.qty }}" id="Qty" value="{{ productstocks.Qty }}"
							name="Qty" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if productstocks %}
									<p class="control-value">{{ productstocks.Qty  }} {{productstocks.Product.UnitOfMeasure.Name}}</p>
								{% endif %}
							</div>
						</div>
				</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}

{% endblock %}
