
	<div class="modal fade" id="ModalCustomer" data-init="0" data-controller="manage_customers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Pilih Customer</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_customers" class="table table-striped " id="table_Customer">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="name">Name </th>
				<th data-fieldname="address">Address </th>
				<th data-fieldname="phone">Phone </th>
				<th data-fieldname="website">Website </th>
				<th data-fieldname="fax">Fax </th>
				<th data-fieldname="image">Image </th>
				<th data-fieldname="tax_number">Tax_number </th>
				<th data-fieldname="bank_detail">Bank_detail </th>
				<th data-fieldname="company_id">Company_id </th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	