 {% extends "dashboard.html" %} {% set title= res.string.customer %}
 {% if customers %} {% set bc_text = customers.name %}
 {% else %} {% set bc_text = 'Baru' %}
  {% endif %}
	 {% set breadcrumbs = [
		 {'link': base_url~'index.php/manage_customers','text':res.string.customer},
		 {'link':'#','text':bc_text }] %}
		  {% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Partner" method="post" action="{{base_url}}index.php/manage_customers/write/{{ customers.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
          {% set back_link = customers.CompanyId?'/detail/'~customers.CompanyId:''%}
          {% include 'common/_form_header.html'
          with {'back_url':'/index.php/manage_customers'~back_link,
          'title': res.string.customer,
          'delete_url':'/index.php/manage_customers/delete/'~customers.Id,
          'object':customers} %}

					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<div class="col-sm-12">
						<input type="hidden" name="CompanyId" value="{{res.query_params.company_id}}">
						<div class='row'>
							<div class="image col-sm-2 col-xs-6">
								<a href="#/" data-toggle="modal" class="thumbnail avatar-thumbnail" data-target="#modalAvatar">
									<input type="hidden" id="Image" value="{{ customers.image }}"
									name="Image"  class="form-control  col-md-7 col-xs-12">
									<img class='preview-image' src="{% if customers.Image %}{{customers.Image}}{% else %}/public/upload/images/default-thumbnail.jpg{% endif %}" alt="...">
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.name}}</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div {% if customers %}style="display:none" {% endif %} class="input-wrap">
											<input type="text" id="Name" value="{{ customers.Name }}" name="Name" required="required" class="form-control  col-md-7 col-xs-12">
										</div>
										{% if customers %}
										<p class="control-value">{{ customers.Name }}</p>
										{% endif %}
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.address}}</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div {% if customers %}style="display:none" {% endif %} class="input-wrap">
											<input type="text" id="Address" value="{{ customers.Address }}" name="Address" class="form-control  col-md-7 col-xs-12">
										</div>
										{% if customers %}
										<p class="control-value">{{ customers.Address }}</p>
										{% endif %}
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.phone}}</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div {% if customers %}style="display:none" {% endif %} class="input-wrap">
											<input type="text" id="Phone" value="{{ customers.Phone }}" name="Phone" class="form-control  col-md-7 col-xs-12">
										</div>
										{% if customers %}
										<p class="control-value">{{ customers.Phone }}</p>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.website}}</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div {% if customers %}style="display:none" {% endif %} class="input-wrap">
											<input type="text" id="Website" value="{{ customers.Website }}" name="Website" class="form-control  col-md-7 col-xs-12">
										</div>
										{% if customers %}
										<p class="control-value">{{ customers.Website }}</p>
										{% endif %}
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.email}}</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div {% if customers %}style="display:none" {% endif %} class="input-wrap">
											<input type="text" id="Email" value="{{ customers.Email }}" name="Email" class="form-control  col-md-7 col-xs-12">
										</div>
										{% if customers %}
										<p class="control-value">{{ customers.Email }}</p>
										{% endif %}
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.fax}}</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div {% if customers %}style="display:none" {% endif %} class="input-wrap">
											<input type="text" id="Fax" value="{{ customers.Fax }}" name="Fax" class="form-control  col-md-7 col-xs-12">
										</div>
										{% if customers %}
										<p class="control-value">{{ customers.Fax }}</p>
										{% endif %}
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% if customers and customers.CompanyId is null %}
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"> {{res.string.contact_person}} </h3>
					<a href="{{base_url}}index.php/manage_customers/create?company_id={{customers.Id}}" class="btn btn-primary pull-right">{{res.string.new_data}}</a>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<p class="text-muted font-13 m-b-30"></p>
					<table data-controller="manage_customers" data-domain='{"company_id":{{customers.Id}}}' class="table table-striped " id="table_Partner">
						<thead>
							<tr>
								<th data-fieldname="name">{{res.string.name}}</th>
								<th data-fieldname="address">{{res.string.address}}</th>
								<th data-fieldname="phone">{{res.string.phone}}</th>
								<th data-fieldname="website">{{res.string.website}}</th>
								<th data-fieldname="email">{{res.string.email}}</th>
								<th></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<!-- Modal -->
{% endblock %} {% block bottom%} {% include 'common/_img_upload_modal.html'%} {% endblock %}
