
	<div class="modal fade" id="ModalPackingList" data-init="0" data-controller="manage_packinglists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">PackingList</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_packinglists" class="table table-striped " id="table_PackingList">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="name">{{res.string.name }}</th>
				<th data-fieldname="date">{{res.string.date }}</th>
				<th data-fieldname="loading_date">{{res.string.loading_date }}</th>
				<th data-fieldname="customer_id">{{res.string.customer_id }}</th>
				<th data-fieldname="ocean_vessel">{{res.string.ocean_vessel }}</th>
				<th data-fieldname="src_loc">{{res.string.src_loc }}</th>
				<th data-fieldname="bl_no">{{res.string.bl_no }}</th>
				<th data-fieldname="goods_description">{{res.string.goods_description }}</th>
				<th data-fieldname="cntr_no">{{res.string.cntr_no }}</th>
				<th data-fieldname="seal_no">{{res.string.seal_no }}</th>
				<th data-fieldname="pod">{{res.string.pod }}</th>
				<th data-fieldname="etd_srg">{{res.string.etd_srg }}</th>
				<th data-fieldname="ref_doc">{{res.string.ref_doc }}</th>
				<th data-fieldname="state">{{res.string.state }}</th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	