 {% extends "dashboard.html" %} {% set title=" Packing List " %} {% if packinglists %} {% set bc_text = packinglists.id %} {% else %} {% set bc_text = res.string.new %} {% endif %} {% set breadcrumbs = [ {'link': base_url~'index.php/manage_packinglists','text':
res.string.packinglist }, {'link':'#','text':bc_text }] %} {% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_PackingList" method="post" action="{{base_url}}index.php/manage_packinglists/write/{{ packinglists.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					{% include 'common/_form_header.html' with {
            'buttons':[{'text':'','url':'','type':''}],
            'back_url':'/index.php/manage_packinglists'~back_link, 'title': res.string.packinglist, 'delete_url':'/index.php/manage_packinglists/delete/' ~ packinglists.Id, 'object':packinglists} %}
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
                <input type="hidden" name="Id" id="Id" value="{{ packinglists.Id }}">

								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">{{res.string.pl_number}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.pl_number }}" id="Name" value="{{ packinglists? packinglists.Name: code }}" name="Name" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.Name }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Date">{{res.string.date_of_issue}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.date_of_issue }}" id="Date" value="{{ packinglists.Date  | date('Y/m/d') }}" name="Date" class="form-control input-date col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.Date | date('d M Y') }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="LoadingDate">{{res.string.loading_date}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.loading_date }}" id="LoadingDate" value="{{ packinglists.LoadingDate  | date('Y/m/d') }}" name="LoadingDate" class="form-control input-date col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.LoadingDate | date('d M Y') }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="CustomerId">{{res.string.customer}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% else %} class="input-group input-wrap" {% endif %}>
										<input type="hidden" type="text" id="CustomerId" value="{{ packinglists.CustomerId }}" name="CustomerId">
										<input type="text" required="required" name="displayCustomerId" id="displayCustomerId" placeholder="{{ res.string.customer_id }}" value="{{ packinglists.Partner.Name }}" class="form-control" />
										<span class="input-group-btn">
      								<button class="btn btnModal btn-default" id="btnCustomerId"  data-target="ModalCustomer" type="button">{{res.string.search}}</button>
      							</span>
									</div>
									{% if packinglists %}
									<p class="value" >{{ packinglists.Partner.Name }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="OceanVessel">{{res.string.ocean_vessel}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.ocean_vessel }}" id="OceanVessel" value="{{ packinglists.OceanVessel }}" name="OceanVessel" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.OceanVessel }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="SrcLoc">{{res.string.src_loc}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.src_loc }}" id="SrcLoc" value="{{ packinglists.SrcLoc }}" name="SrcLoc" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.SrcLoc }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="BlNo">{{res.string.bl_no}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.bl_no }}" id="BlNo" value="{{ packinglists.BlNo }}" name="BlNo" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.BlNo }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="GoodsDescription">{{res.string.goods_description}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.goods_description }}" id="GoodsDescription" value="{{ packinglists.GoodsDescription }}" name="GoodsDescription" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.GoodsDescription }}</p>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="CntrNo">{{res.string.cntr_no}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.cntr_no }}" id="CntrNo" value="{{ packinglists.CntrNo }}" name="CntrNo" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.CntrNo }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="SealNo">{{res.string.seal_no}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.seal_no }}" id="SealNo" value="{{ packinglists.SealNo }}" name="SealNo" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.SealNo }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Pod">{{res.string.pod}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.pod }}" id="Pod" value="{{ packinglists.Pod }}" name="Pod" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.Pod }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="EtdSrg">{{res.string.etd_srg}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.etd_srg }}" id="EtdSrg" value="{{ packinglists.EtdSrg }}" name="EtdSrg" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.EtdSrg }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="RefDoc">{{res.string.ref_doc}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.ref_doc }}" id="RefDoc" value="{{ packinglists.RefDoc }}" name="RefDoc" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.RefDoc }}</p>
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="State">{{res.string.state}}</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div {% if packinglists %}style="display:none" {% endif %} class="input-wrap">
										<input type="text" placeholder="{{ res.string.state }}" id="State" value="{{ packinglists.State }}" name="State" class="form-control  col-md-7 col-xs-12">
									</div>
									{% if packinglists %}
									<p class="control-value">{{ packinglists.State }}</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="detail">
            <div class="col-sm-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab_1" data-toggle="tab">{{res.string.packing_list_line}}</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <!-- /.tab-pane -->
                  <div class="tab-pane clearfix active" id="tab_1">
                    {% include "admin/packinglists/_packing_list_line_tab.html"%}
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
		</form>
		</div>
	</div>
	<!-- Modal -->
	{% include "admin/customers/_modal.html" %}
	{% include "admin/proformainvoices/_modal.html" %}
	{% include "admin/packinglists/_modal_add_to_line.html" %}
	{% include "admin/packinglists/_modal_edit_line_qty.html" %} {% endblock %} {% block bottom%}
<script type="text/javascript">
  var line_url = "/index.php/manage_proformainvoicelines/get_json/?check_qty_for_pl=1&proforma_invoice="
  $('#table_PackingListLine').loadTableData({
    search:false,
    paging:false,
    ordering:false,
    button:['edit','delete'],
    columnDefs:[
            { "visible": false, "targets": 10 }
        ],
    rowCallback:function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
          var index = iDisplayIndex +1;
          $('td:eq(0)',nRow).html(index);
          return nRow;
        },
    drawCallback:function(settings){
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(10, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="11">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
  })
  $(document).ready(function(){
    $('#CustomerId').trigger('change')
    $('#table_PackingListLine').on('click','.btn-delete',function(e){
      e.preventDefault()
      $.ajax({
        url:"{{base_url}}index.php/manage_packinglistlines/delete/"+$(this).data('id'),
        method:"POST",
        data:"&confirm=1",
        dataType:"JSON"
      }).done(function(o){
          $('#table_PackingListLine').DataTable().ajax.reload(function(d){
            console.log($(this));
              $('#table_PackingListLine').find('.btn-delete').show()
              $('#table_PackingListLine').find('.btn-edit').show()
          })
      })
    })
    $('#table_PackingListLine').on('click','.btn-edit',function(e){
      e.preventDefault()
      var qtyprnt = $('#elineQty').parent()
      qtyprnt.find('.help-block').text('')
      qtyprnt.removeClass('has-error')
      $('#modalEditLineQty').modal('show')
      $('#artno').text($(this).parents('tr').children('td:eq(0)').text())
      $('#proddesc').text($(this).parents('tr').children('td:eq(2)').text())
      $('#elineId').val($(this).parents('tr').children('td:eq(7)').find('a').data('id'))
      $('#elineQty').val($(this).parents('tr').children('td:eq(3)').text())
    })
  })
  $('.all_cb_pi').change(function(e){
    $('.cb_pi').prop('checked',$(this).prop('checked'))
  })
	$('#CustomerId').change(function(e){
		$('#btnProformaInvoiceId').data('domain',{customer_id: $(this).val()})
	})
  $('#ProformaInvoiceId').change(function(e){
    $('#table_PILine').DataTable().ajax.url(line_url+$(this).val()).load()
  })
  $('#table_PILine').DataTable({
    "processing": true,
    "serverSide":true,
    "searching": false,
    "paging": false,
    "ordering": false,
    "ajax": line_url,
    "columns":[
      {"data":"id",
        "render":function(data){
          return "<input type=\"checkbox\" data-id=\""+data+"\" class=\"cb_pi\" ></input>"
        }
      },
      {"data":"name"},
      {"data":"description"},
      {"data":"avail_qty"} ],
    "initComplete" : function(settings, json) {
        $('#table_PILine').css('width','100%')
      }
  })
  $('#btnAddPLLine').click(function(e){
    e.preventDefault()
    var mpi = []
    $('#table_PILine').find('.cb_pi').each(function(i){
      if($(this).prop('checked')){
        if($(this).parents('tr').children('td:eq(3)').text()>0){
          mpi.push({
            id:$(this).data('id'),
            name:$(this).parents('tr').children('td:eq(1)').text(),
            desc:$(this).parents('tr').children('td:eq(2)').text(),
            qty:$(this).parents('tr').children('td:eq(3)').text()
          })
        }

      }

    })
    $('#tbPL').find('tbody').html('')
    for (var m in mpi) {
      var frmpiline = "<tr>"+
      "<td><input type=\"hidden\" name=\"PiLineId[]\" value=\""+mpi[m].id+"\"></td>"+
      "<td>"+mpi[m].name+"</td>"+
      "<td>"+mpi[m].desc+"</td>"+
      "<td><input type=\"number\" min=\"1\" max=\""+mpi[m].qty+"\" class=\"PiLineQty form-control\" "+
      "name=\"PiLineQty[]\" value=\""+mpi[m].qty+"\"></td></tr>"
      $('#tbPL').find('tbody').append(frmpiline)
    }
    $('#modalAddPlLine').modal('show')
  })
  $('#tbPL').on('change keyup','.PiLineQty',function(){
    if(($(this).val()*1) > ($(this).prop('max')*1)){
      $(this).val($(this).prop('max'))
    }
  })
  $("#formAddPlLine").submit(function(e){
    e.preventDefault()
    if($('#Id').val()){
      console.log('pi exist');
      save_pl_line($('#Id').val()).done(function(o){
          $('#modalAddPlLine').modal('hide')
          $('#ProformaInvoiceId').val('');
          $('#ProformaInvoiceId').trigger('change');
          $('#displayProformaInvoiceId').val('');
          $('#table_PackingListLine').DataTable().ajax.reload()
        })
    }else{
      $.ajax({
        url:$('#form_PackingList').prop('action'),
        data:$('#form_PackingList').serialize(),
        dataType:'JSON',
        method:'POST',
        success:function(o){
          var spl = save_pl_line(o.Id);
          console.log(spl);
          spl.done(function(){
            window.location.replace('/index.php/manage_packinglists/detail/'+o.Id)
          });
        }
      })
    }

  })

  $('#frmEditLineQty').submit(function(e){
    e.preventDefault()
    $.ajax({
      url: $(this).prop('action')+$('#elineId').val(),
      method: 'POST',
      dataType: 'JSON',
      data:'Qty='+ $('#elineQty').val()
    }).done(function(o){
        if(o.status == 'ok'){
          $('#modalEditLineQty').modal('hide')
          $('#table_PackingListLine').DataTable().ajax.reload()
        }else if(o.status == 'error'){
          var qtyprnt = $('#elineQty').parent()
          qtyprnt.find('.help-block').text(o.message)
          qtyprnt.addClass('has-error')
        }
    })
  })

  function save_pl_line(pi){
    return $.ajax({
      url:$('#formAddPlLine').prop('action')+'?packing_list='+pi,
      data:$('#formAddPlLine').serialize(),
      dataType:'JSON',
      method:'POST'
    })
  }
</script>
	 {% endblock %}
