
{% extends "dashboard.html" %}
{% set title=" Partner " %}
{% if partners %}
	 {% set bc_text = partners.id  %}
{% else %}
	 {% set bc_text = 'Baru' %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_partners','text':' Partner '},
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Partner" method="post" action="{{base_url}}index.php/manage_partners/write/{{ partners.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title"> Partner </h3>
					<a href="{{base_url}}index.php/manage_partners" class="btn btn-default pull-right">{{res.string.back}}</a>
					{% if partners %}
						<a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> {{res.string.delete}}</a>
						<a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> {{res.string.edit}}</a>
						<a href="#" style="display:none" class="btn btn-primary pull-right" id="btn-canceledit">{{res.string.cancel}}</a>
					{% endif %}
					<button type="submit" {% if partners %}style="display:none"{% endif %}  name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> {{res.string.save}}</button>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.name}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Name" value="{{ partners.Name }}"
							name="Name" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.address}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Address" value="{{ partners.Address }}"
							name="Address"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Address  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.phone}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Phone" value="{{ partners.Phone }}"
							name="Phone"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Phone  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.website}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Website" value="{{ partners.Website }}"
							name="Website"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Website  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.fax}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Fax" value="{{ partners.Fax }}"
							name="Fax"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Fax  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.image}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="Image" value="{{ partners.Image }}"
							name="Image"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.Image  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.tax_number}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="TaxNumber" value="{{ partners.TaxNumber }}"
							name="TaxNumber"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.TaxNumber  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.bank_detail}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="BankDetail" value="{{ partners.BankDetail }}"
							name="BankDetail"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.BankDetail  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.company_id}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="number" id="CompanyId" value="{{ partners.CompanyId }}"
							name="CompanyId"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.CompanyId  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.is_employee}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="checkbox" id="IsEmployee" value="{{ partners.IsEmployee }}"
							name="IsEmployee" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.IsEmployee  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.is_customer}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="checkbox" id="IsCustomer" value="{{ partners.IsCustomer }}"
							name="IsCustomer" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.IsCustomer  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{res.string.is_supplier}}</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if partners %}style="display:none"{% endif %} class="input-wrap">
							<input type="checkbox" id="IsSupplier" value="{{ partners.IsSupplier }}"
							name="IsSupplier" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if partners %}
									<p class="control-value">{{ partners.IsSupplier  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
			</div>
		</form>
	</div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}
<script>
$('#btn-edit').click(function(){
	$('#btn-canceledit').show()
	$('#btn-save').show()
	$('.input-wrap').show()
	$('.control-value').hide()
	$(this).hide()
})
$('#btn-canceledit').click(function(){
	$('#btn-edit').show()
	$('#btn-save').hide()
	$('.input-wrap').hide()
	$('.control-value').show()
	$(this).hide()
})
$(function() {
	$('.input-date').daterangepicker({
	singleDatePicker: true,
	showDropdowns: true,
	locale: {
		format: 'YYYY/MM/DD'
	}
},function(start, end, label) {
	});
$('.input-datetime').daterangepicker({
	singleDatePicker: true,
	showDropdowns: true,
	timePicker: true,
	timePickerIncrement: 30,
	locale: {
		format: 'YYYY/MM/DD hh:mm:ss'
	}
},
function(start, end, label) {
	});
});
</script>
{% endblock %}
