
	<div class="modal fade" id="ModalProformaInvoiceLine" data-init="0" data-controller="manage_proformainvoicelines" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">ProformaInvoiceLine</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_proformainvoicelines" class="table table-striped " id="table_ProformaInvoiceLine">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="proforma_invoice_id">{{res.string.proforma_invoice_id }}</th>
				<th data-fieldname="product_customer_id">{{res.string.product_customer_id }}</th>
				<th data-fieldname="product_finishing">{{res.string.product_finishing }}</th>
				<th data-fieldname="description">{{res.string.description }}</th>
				<th data-fieldname="qty">{{res.string.qty }}</th>
				<th data-fieldname="qty_per_pack">{{res.string.qty_per_pack }}</th>
				<th data-fieldname="cubic_dimension">{{res.string.cubic_dimension }}</th>
				<th data-fieldname="total_cubic_dimension">{{res.string.total_cubic_dimension }}</th>
				<th data-fieldname="price">{{res.string.price }}</th>
				<th data-fieldname="total_price">{{res.string.total_price }}</th>
				<th data-fieldname="is_sample">{{res.string.is_sample }}</th>
				<th data-fieldname="is_need_box">{{res.string.is_need_box }}</th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	